WebServiceProject/WebContent/wsdl/TestWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://test.ws.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://test.ws.com" xmlns:intf="http://test.ws.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://test.ws.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getEmplyeeName">
    <complexType>
     <sequence>
      <element name="loginname" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getEmplyeeNameResponse">
    <complexType>
     <sequence>
      <element name="getEmplyeeNameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getEmplyeeNameRequest">

      <wsdl:part element="impl:getEmplyeeName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEmplyeeNameResponse">

      <wsdl:part element="impl:getEmplyeeNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TestWebService">

      <wsdl:operation name="getEmplyeeName">

         <wsdl:input message="impl:getEmplyeeNameRequest" name="getEmplyeeNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:getEmplyeeNameResponse" name="getEmplyeeNameResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TestWebServiceSoapBinding" type="impl:TestWebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getEmplyeeName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEmplyeeNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getEmplyeeNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TestWebServiceService">

      <wsdl:port binding="impl:TestWebServiceSoapBinding" name="TestWebService">

         <wsdlsoap:address location="http://localhost:8080/WebServiceProject/services/TestWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
